*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Special Gothic Expanded One', sans-serif;
}

.logo{
    flex: 1;
    text-align: left;
}
nav{
    text-align: right;
}

.nav-links{
    flex: 1;
    text-align: right;
    margin-top: -px;
}


nav ul h3{

    font-size: 25px;
  
}

nav ul li{
    display: inline-block;
    margin-right: 50px;
    margin-top: 0;
    
}
    



.logo{
    font-size: 30px;
    font-weight: bold;
    color:  #8ef3f7d2;
    
}
.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.navbar{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(186, 228, 0, 0.021),rgba(228, 11, 19, 0.3));
    position : relative;
    padding : 0 3%;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
    margin-top: 10px;

}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: rgba(223, 155, 211, 0.726);
}


.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top:3px;
}


p{
    color: #0fcfff;
    font-size: 14px;
    line-height: 1.5;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}  

.testimonial{
    margin-top: -525px;
    text-align: center;
    padding: 20px 20px;
}

.testimonial col-3{
    flex: 0 0 300px;
    text-align: center;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
}
.testimonial .col-3 img{
    align-items: center;
    width: 200px;
    margin-top:25px;
    border-radius: 12px;
}
 
  
.crop-img {
  width: 100px;
  height: 250px;
  object-fit: cover;     /* crops */
  object-position: center;  /* choose what part shows */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}

.image-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
@media (max-width:768px) {
    .tesimonial {
        grid-template-columns: 1fr;
    }
    
}